@font-face {
  font-family: heading2;
  src: url(../fonts/fa-brands-400.woff2);
}
@font-face {
  font-family: heading1;
  src: url(../css/fonts/fa-solid-700.woff2);
}

.heading2{
    font-family: heading2;
}
.heading1{
    font-family: heading1;
    /* font-size: 1.2rem; */
}